div.tm-item-container {
  padding: 0.5em;
  border-radius: 5px;
  box-sizing: border-box !important;
  display: inline-block;
}

div.tm-item {
  background: #333;
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
  height: 100%;
}

div.tm-item img {
  border-radius: 3px;
  margin: 0 auto;
}

div.tm-item div.name {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 0.8em;
  bottom: 0px;
}

div.tm-item div.name strong {
  font-weight: bold;
  display: block;
}

body {
  padding-top: 90px;
}
